v class="lhs">Description</div>
<div class="rhs">
	<p>fat mass and obesity associated [Source:HGNC Symbol;Acc:HGNC:24678]</p>
</div>
</div>
<div class="row">
	<div class="lhs">Synonyms</div>
	<div class="rhs">
		<p>ALKBH9, KIAA1752, MGC5149</p>
	</div>
</div>
<div class="row">
	<div class="lhs">Location</div>
	<div class="rhs">
		<p><a href="/Homo_sapiens/Location/View?db=core;g=ENSG00000140718;r=16:53703963-54121941" class="constant">Chromosome 16: 53,703,963-54,121,941</a> forward strand.</p>
	</div>
</div>
<div class="row">
	<div class="lhs">INSDC coordinates</div>
	<div class="rhs">
		<p>chromosome:GRCh38:CM000678.2:53703963:54121941:1</p>
	</div>
</div>
<div class="row">
	<div class="lhs">Transcripts</div>
	<div class="rhs">
		<p>
			<br />
			<br />
			This gene has 8 transcripts (splice variants) 
			<a rel="transcripts_table" class="button toggle no_img _slide_toggle set_cookie closed" href="#" title="Click to toggle the transcript table">
	          	<span class="closed">
	          		Show transcript table
	          	</span>
	          	<span class="open">Hide transcript table</span>
          	</a>
      </p>
   </div>
   </div></div>
